/* Rudddro code start here */


/*  for background color here */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top: 50vh;

}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 6s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* For Title */

h1 {
    margin: 0;
    padding: 0;
}

.box h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.1);
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: header 15s linear infinite;
    font-weight: 900;
    padding-top: 30px;
}

.box {
    /*  margin-top: 17%; */
    text-align: center;
}

@keyframes header {
    0% {
        background-position: left 0px top 10px;
    }

    40% {
        background-position: left 800px top 10px;
    }
}


/* For Button */

.glow-on-hover {

    color: black;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 15px 60px 15px 60px;
    text-decoration: none;
    border: 2px solid #e9e9e9;
    font-weight: 900;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* For Main Page */
.mobile-bar {
    background: #F6F2F7 !important;
    padding: 20px;
}

/* .resultDataCustom {
    background: #efe9e9;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}
 */
.result {
    padding-top: 20px;
}

.resultDataCustom:nth-child(1) {
    margin-top: 0px;
}

.resultDataCustom span {
    text-align: left !important;
    font-size: 18px;
}

/* For Coming Result */

#resultShow {
    text-align: left;
    display: grid;
    justify-content: center;
    align-items: center;
}

#resultShow p {
    margin-top: 2px;
    padding: 3px;
}

#resultShow p:nth-child(1) {
    margin-top: 0px;
}

#resultShow p:nth-child(odd) {
    border-top: 2px solid #5003d5;
}

#resultShow p:nth-child(even) {
    border-bottom: 2px solid #9e07e9;
}

/* For Default Result */
.result {
    text-align: left;
    display: grid;
    justify-content: center;
    align-items: center;
}

.result p {
    margin-top: 4px;
    padding: 3px;
}

.result p:nth-child(1) {
    margin-top: 0px;
}

.result p:nth-child(odd) {
    border-top: 2px solid #5003d5;
}

.result p:nth-child(even) {
    border-bottom: 2px solid #9e07e9;
}

.left-side {
    float: left;
}

.right-side {
    float: right;
}

.box a {
    text-decoration: none;
}






/* Rudddro code end here */



/* lalin css start here */

/* The device with borders */

.lalin-smartphone {
    width: 430px;
    height: 585px;
    position: absolute;
    margin: auto;
    border: 16px white solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
}

/* The horizontal line on the top of the device*/

.lalin-smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */

.lalin-smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */

.lalin-smartphone .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 585px;
    background: #f6f2f7;
}

/*homepage Main content here */
.homepage-content {
    text-align: center;
}


/* Anas css start here */
/* The device with borders */
.anas-smartphone {
    width: 430px;
    height: 585px;
    position: absolute;
    margin: auto;
    border: 16px white solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    color: black;
}

/* The horizontal line on the top of the device*/
.anas-smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.anas-smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.anas-smartphone .content {
    width: 100%;
    height: 535px;
    background: #f6f2f7;
    padding-top: 40px;
}

.multiplication_table {
    text-align: center;
}

.input_btn_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 5px;
    margin-top: -30px;
    border: 3px solid #065A62;
    border-radius: 5px;
}

.input_btn_field input {
    flex: 1;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 14px 15px;
    background: transparent;
    color: #000000;
}

.input_btn_field input:focus {
    outline: none !important;
}

.my-button {
    background-color: #065a62;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
}

.my-button:hover {
    background: black;
}

.my-button:active {
    transform: scale(0.95);
}

h1 {
    font-size: 35px;
    font-weight: 600;
    color: #000000;
}

.result {
    padding-top: 20px;
}


@media (max-width: 768px) {
    .area {
        background: white;
        width: 100%;
        height: 100vh;
    }

    .lalin-smartphone .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100vh;
        background: #f6f2f7;
    }

    .lalin-smartphone {
        width: auto;
        height: 100vh;
        position: absolute;
        margin: 0px;
        border: 16px white solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999999;
    }

    .box h1 {
        font-size: 30px;
        padding-top: 30px;
    }

    .anas-smartphone {
        width: auto;
        height: 100vh;
        position: absolute;
        margin: 0px;
        border: 16px white solid;
        border-top-width: 60px;
        border-bottom-width: 60px;
        border-radius: 36px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99999999;
        color: black;
    }

    .anas-smartphone .content {
        width: auto;
        height: 100vh;
        background: #f6f2f7;
        padding-top: 40px;
    }

}