@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Lisu Bosa', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

body {
    background: #065a62;
}

/* lalin css start here */

/* The device with borders */

.lalin-smartphone {
    width: 330px;
    height: 585px;
    position: relative;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

/* The horizontal line on the top of the device*/

.lalin-smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */

.lalin-smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */

.lalin-smartphone .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 585px;
    background: #0096a4;
}

/*homepage Main content here */
.homepage-content {
    text-align: center;
}


/* Anas css start here */
/* The device with borders */
.anas-smartphone {
    width: 330px;
    height: 585px;
    position: relative;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

/* The horizontal line on the top of the device*/
.anas-smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.anas-smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

/* The screen (or content) of the device */
.anas-smartphone .content {
    width: 330px;
    height: 585px;
    background: #0096a4;
    display: flex;
    justify-content: center;
    align-items: center;
}


.multiplication_table {
    text-align: center;
}

.input_btn_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 5px;
}

.input_btn_field input {
    flex: 1;
    width: 100%;
    border: 1px solid #2b2d42;
    border-radius: 4px;
    padding: 14px 15px;
    background: transparent;
    color: #fff;
}

.my-button {
    background-color: #065a62;
    color: #ffffff;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-block;
}

.my-button:hover {
    background: linear-gradient(to right, #5a5b66, #5a5b66);
    background-color: #5a5b66;
}

.my-button:active {
    transform: scale(0.95);
}

h1 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.result span {
    font-size: 25px;
    padding: 5px;
    color: #fff;
}

.result span:nth-child(1) {
    background: red;
}


/* @media (max-width: 768px){
    .anas-smartphone {
        width: 300px;
    }
    .anas-smartphone .content {
        width: 300px;
    }
    .lalin-smartphone {
        width: 300px;
    }
    .lalin-smartphone .content {
        width: 300px;
    }
} */